
<div class="row">
  <div class="col-11">
    <mat-form-field [style.display]="'block'">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>
    
    <!-- Progress Column -->
    <ng-container matColumnDef="user_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.user_id}} </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="file_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> File Name </mat-header-cell>
      <mat-cell *matCellDef="let row"><a target="_blank" [href]="row.file_name"> {{row.file_name}} </a></mat-cell>
    </ng-container>
    
    <!-- Color Column -->
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created Time</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createdAt | date:'short'}} </mat-cell>
    </ng-container>

   <!-- Color Column -->
   <ng-container matColumnDef="updatedAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Updated Time</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.updatedAt | date:'short'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator (page)="paginate($event)" [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</div>
