  <div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
    <span class="m-dropdown__header-title">
      XP Points
    </span>
    <span class="m-dropdown__header-subtitle">
      <div class="row">
        <div class="col-6">Current XP: </div>
        <div class="col-6">{{xpObject?.currentXP}}</div>
        <div class="col-6">Current Level: </div>
        <div class="col-6">{{xpObject?.currentLevel}}</div>
        <div class="col-6">Next Level: </div>
        <div class="col-6">{{xpObject?.nextLevelXP}}</div>
      </div>
        <!-- <{{xpObject?.}} -->
    </span>
  </div>
  <div class="m-dropdown__body">
    <div class="m-dropdown__content">
    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
      <li class="nav-item m-tabs__item">
      <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_events" role="tab">
        Events
      </a>
      </li>
      <li class="nav-item m-tabs__item">
      <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab">
        Logs
      </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="topbar_notifications_events" role="tabpanel">
      <div class="m-scrollable" m-scrollabledata-scrollable="true" data-max-height="250" data-mobile-max-height="200">
        <div class="m-list-timeline m-list-timeline--skin-light">
            <div class="m-list-timeline__items">
                <div class="m-list-timeline__item" *ngFor="let event of xpObject?.completedEvents">
                <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                <span class="m-list-timeline__text">
                    {{event.eventName}}
                    <span class="m-badge m-badge--info m-badge--wide">
                        {{event.eventValue}}
                        </span>
                </span>
                <span class="m-list-timeline__time">
                    {{event.eventValue}}
                </span>
                </div>
              </div>
        </div>
      </div>
      </div>
      <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
      <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
        <span class="">
          All caught up!
          <br>
          No new logs.
        </span>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
